<!DOCTYPE html>
<html>
<head>
  <title>ZBox Mail</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
	<div id="wrapper">
    <div class="content animate-panel">
      <div class="row">
        <%= yield %>
      </div>
    </div>
	</div>

</body>
</html>